* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.all-content-flex {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1F2937;
    color: white;
    font-size: 15px;

}

.container {
    max-width: 1025px;
    margin: 0 auto;

}

.header-flexbox {
    display: flex;
    justify-content: space-between;
}

.header__links-item a {
    color: white
}

.header__logo {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

}

.header__links-wrapper {
    display: flex;
    gap: 23px;
}

.header__links-item {}

.main {
    flex: 1 1 auto;
}

.awesome {
    padding-top: 130px;
    background-color: #1F2937;
    color: white;
    font-size: 15px;
    padding-bottom: 130px;
}

.container {}

.awesome-flexbox {
    display: flex;
    justify-content: space-between;
}

.awesome__text-part {

    width: 443px;
}

.awesome__text-part-tittle {
    font-weight: 800;
    font-size: 40px;
    width: 330px;
}

.awesome__text-part-subtittle {
    margin-top: 12px;
    line-height: 20px;
}

.awesome__text-part-button {
    margin-top: 16px;
    font-weight: 700;
}

.awesome__img {
}
.awesome__img-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 234px;
    width: 519px;
    background-color: #6D747D;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 131px;
    height: 36px;
    background-color: #3776DD;
}

.footer {}

.footer {}